@import "~bootstrap/scss/bootstrap";

body {
  font-family: $font-family-base;
  background: #f9f9f9;
  color: #666;
}

.cover {
  align-items: flex-end;
  background: silver url('../../public/cover_empty.png') no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;

  height: 400px;
  margin: 10px 0 20px 0;
  padding: 16px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.cover > div {
  height: auto;
  width: 100%;
}

.itemImg {
  height: 200px;
  margin-left: 10px;
  margin-right: 10px;
}


